@import url();

*{
    box-sizing: border-box;
}

body{
    background-image: url("img/back.jpg");
    position: relative;
    font-family: '', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.modif-form{
    font-variant: small-caps;
    font-weight: normal;
}

.container {
    background-color: rgba(87, 20, 150, 0.637);
    padding: 50px 60px;
    border-radius: 30px;
}

.container h1{
    text-align: center;
    margin-bottom: 10px; 
}

.container a{
    color: black; 
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 30px;
    background: rgb(168, 100, 233);
    border: 0;
    padding: auto;
    font-size: 22px;
    border-radius: 10px;
    opacity: auto;  
    text-align: center;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: auto;
    font-variant: small-caps;
    font-weight: auto;
    margin:10px;
}

/*taille sign up*/
.form-control {
    position:relative;
    margin: 20px 50px;
    width: 180px;
    left:30%;
    right: 30%;  
    display: flex; 
}

.form-control input {
    background:rgb(168, 100, 233);
    border: auto;
    border-bottom: 10px  rgb(168, 100, 233);
    padding: 7px 0;
    border-radius: 10px;
    opacity: auto; 
    width: 200px; 
}

.form-control input:focus, 
.form-control input:valid {
    outline: 0;
}

.form-control label{
    margin-top: 20px;
    position: absolute;
    top: -13px;
    left: -150px;
}

/*login contrôle*/
.modif-form1{
    font-variant: small-caps;
    font-weight: normal;
}

h1{
    text-align: center;
    padding-top: 15px;
}

/*taille Sign up*/
.login-box{
    width: 360px;
    height: 290px;
    margin: auto;
    border-radius: 3px;
    background-color: blueviolet;
    border-radius: 30px;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;  
}

form input{
    
    width: 80%;
    padding: 8px;
    border: auto;
    background-color:rgb(168, 100, 233);
    outline: none;
    border-radius: 10px;
    font-size: absolues;
}

input[type="button"]{
    margin: 20px 30px;
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border: none;
    background-color: rgb(168, 100, 233);
    color: black;
    border-radius: 10px;
    font-size: 18px;
}

input:active{ 
    transform: scale(0.98);
}

form label{
    display: flex ;
    margin-top: 20px;
    font-size: 16px;
}

.para-2{ 
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: auto;
    font-variant: small-caps;
    font-weight: auto;
}

.para-2 a{
    color: black;
}






